<div class="doorlist-wrapper">
  <h1 id="doorlist">Doorlist</h1>
  <table mat-table [dataSource]="doors" multiTemplateDataRows
         class="mat-elevation-z8 doorlist-table"
         aria-describedby="doorlist">
    <ng-container matColumnDef="deviceId">
      <th mat-header-cell *matHeaderCellDef scope="col">ID</th>
      <td mat-cell *matCellDef="let door"> {{door.deviceId}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef scope="col">Name</th>
      <td mat-cell *matCellDef="let door"> {{door.name}} </td>
    </ng-container>
    <ng-container matColumnDef="doorState">
      <th mat-header-cell *matHeaderCellDef scope="col">Door state</th>
      <td mat-cell *matCellDef="let door"> {{door.doorState}} </td>
    </ng-container>
    <ng-container matColumnDef="lockState">
      <th mat-header-cell *matHeaderCellDef scope="col">Lock state</th>
      <td mat-cell *matCellDef="let door"> {{door.lockState}} </td>
    </ng-container>
    <ng-container matColumnDef="button">
      <th mat-header-cell *matHeaderCellDef scope="col"></th>
      <td mat-cell *matCellDef="let door">
        <button mat-raised-button (click)="handleBtnClick(door.deviceId); $event.stopPropagation();">
          {{ door.lockState == "locked" ? "Unlock" : "Lock" }}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let door" [attr.colspan]="doorlistColumns.length">
        <div class="inner-table door-events" *ngIf="door.events?.length"
             [@detailExpand]="door.deviceId == expandedElement?.deviceId ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="door.events" aria-describedby="doorlist">
              <ng-container matColumnDef="datetime">
                <th mat-header-cell *matHeaderCellDef scope="col"> Timestamp</th>
                <td mat-cell *matCellDef="let event"> {{event.datetime.toLocaleString()}} </td>
              </ng-container>
              <ng-container matColumnDef="event">
                <th mat-header-cell *matHeaderCellDef scope="col"> Event</th>
                <td mat-cell *matCellDef="let event"> {{event.event}} </td>
              </ng-container>
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef scope="col"> Message</th>
                <td mat-cell *matCellDef="let event"> {{event.message}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="eventlistColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: eventlistColumns;"></tr>
            </table>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="doorlistColumns"></tr>
    <tr mat-row *matRowDef="let door; columns: doorlistColumns;"
        class="doorlist-row"
        [class.doorlist-expanded-row]="expandedElement == door"
        (click)="expandedElement = expandedElement == door ? undefined : door">
    </tr>
    <tr mat-row *matRowDef="let event; columns: ['expandedDetail']" class="doorlist-detail-row"></tr>
  </table>
</div>
